*.iml
.gradle
/local.properties
.DS_Store
/build
.idea/
*iml
*.iml
*/build
gradle.properties
*.apk
*.ap_
*.dex
*.class
bin/
gen/
out/
build/
workspace.xml
.idea
ks.properties
.classpath
.project
lint.xml
/dist
*.iml
/captures
.externalNativeBuild
